.graph-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 5rem 0;
}

.graph-hero {
  flex: 2;

  h1 {
    margin-bottom: 2rem;
  }
}

.graph-container {
  border: 1px solid rgba(255, 255, 255, 0.132);
  padding: 3rem 1rem;
  border-radius: 5px;
  background: #00244c;
  flex: 3;
}

@media screen and (max-width: 900px) {
  .graph-section {
    flex-direction: column;
  }

  .graph-container {
    width: 100%;
  }
}
