.features-container {
  position: relative;
  flex: 1;

  h1 {
    font-size: clamp(1.8rem, 4vw, 2.4rem);
    margin-bottom: 2rem;
  }
  p {
    line-height: 2;
  }
}

.detail-border {
  position: absolute;
  height: 4px;
  width: 38px;
  background: #ff4820;
  top: -10px;
  left: 0;
}
