.features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.features-heading {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
