.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-links-logo {
  margin-right: 2rem;

  img {
    width: 62px;
    height: 16px;
  }
}

.navbar-links-container {
  display: flex;
  flex-direction: row;
  p {
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 26px;
    text-transform: capitalize;
    margin: 0 1rem;
  }
  gap: 1rem;
}

.navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  p {
    cursor: pointer;
  }

  button {
    padding: 1rem 2rem;
    background-color: #ff4820;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
    outline: none;
  }
}

/* Mobile menu from here */
.navbar-mobile {
  margin-left: 1rem;
  display: none;
  position: relative;

  svg {
    cursor: pointer;
  }
}

/* The actual popUp with menu */
.navbar-mobile-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;

  font-weight: 500;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);

  p {
    margin: 1rem 0;
  }
}

/* Hidde the navigation menu for mobile */
@media screen and (max-width: 1050px) {
  .navbar-links-container {
    display: none;
  }

  .navbar-mobile {
    display: flex;
  }
  .navbar-sign-mobile {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navbar-sign {
    display: none;
  }

  .navbar-sign-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    p {
      text-decoration: underline;
    }

    button {
      padding: 0.5rem;
      background-color: #ff4820;
      border-radius: 5px;
      font-weight: 500;
      color: white;
      font-size: 1.6rem;
      border: none;
      cursor: pointer;
      outline: none;
    }
  }
}
